on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  contrib-readme-job:
    name: Automatic Contributors in README
    runs-on: ubuntu-latest
    steps:
      - name: Contribute List
        uses: akhilmhdh/contributors-readme-action@v2.3.11
        with:
          committer_username: "DrKJeff16"
          committer_email: "g.maxc.fox@protonmail.com"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
